body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: 0.3s;
    background-color: rgb(231, 215, 190);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #8f0088;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.contador {
    margin: 20px 0;
}